<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Bem-vindo</h2>
                            <div class="div-separator"></div>
                            <p>Cadastre-se para finalizar sua compra!</p>
                        </section>
                        <section class="section-form text-left">
                            <form id="formCadastro" action="" method="post">
                                <div class="form-group">
                                    <label for-id="nome">Nome completo:<span style="color:red ;">*</span> <br></label>
                                    <input class="nome" name="nome" id="nome" type="text" placeholder="Ex.: José da Silva"
                                        maxlength="50">
                                    <label for-id="telefone">Telefone:<span style="color:red ;">*</span> <br></label>
                                    <input class="input-telefone" name="telefone" id="telefone" type="text" placeholder="Ex.: (19)99999-9999" 
                                    maxlength="50">
                                    <label for-id="email">E-mail:<span style="color:red ;">*</span> <br></label>
                                    <input class="email" name="email" id="email" type="email"  placeholder="Ex.: maria@hotmail.com"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for-id="cep">CEP:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="cep" id="cep" type="text" maxlength="9"  placeholder="Ex.: 13000-000">
                                    <label for-id="cidade">Cidade:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="cidade" id="cidade" type="text" maxlength="50" placeholder="Ex.: São Paulo">
                                    <label for-id="estado">Estado:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="estado" id="estado" type="text" maxlength="50" placeholder="Ex.: São Paulo">
                                    <label for-id="bairro">Bairro:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="bairro" id="bairro" type="text" maxlength="50" placeholder="Ex.: Centro">
                                    <label for-id="rua">Logradouro:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="rua" id="rua" type="text" maxlength="50" placeholder="Ex.: Avenida Paulista">
                                    <label for-id="numero">Número:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="numero" id="numero" type="number" maxlength="4" placeholder="Ex.: 10">
                                    <label for-id="complemento">Complemento:<br></label>
                                    <input class="" name="complemento" id="complemento" type="text" maxlength="50" placeholder="Ex.: Apto.">
                                </div>
                                <div class="form-group">
                                    <label for-id="senha">Senha:<span style="color:red ;">*</span> <br></label>
                                    <input class="senha" name="senha" id="senha" type="password" placeholder="Ex.: jose@9"
                                        maxlength="6">
                                        <label for-id="confSenha">Confirmar senha:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="confSenha" id="confsenha" type="password" placeholder="Ex.: jose@9"
                                            maxlength="6">
                                </div>
                                <div class="text-center">
                                    <button class="btn-cadastrar">Cadastrar</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </section>
            <div class="modal mt-5 pt-5" id="modal-info">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-body">
                            <img class="img-cupcake-info" src="images/cupcake-roxo.png">
                             <p class="mensagem text-dark">Cadastro realizado com sucesso!</p>
                         </div>
                         <div class="modal-footer text-center">
                            <button type="button" class="modal-btn-close button" data-dismiss="modal">Fechar</button>
                          </div>
                     </div>
                 </div>
             </div>
        </main>
    </div>
</body>
</html>