<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Carrinho</h2>
                            <div class="div-separator"></div>
                            <p>Agora falta pouco para se deliciar com nosso cupcakes!</p>
                        </section>
                        <section class="section-carrinho pt-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row div-menu-carrinho">
                                        <div class="col-4 pl-5">
                                            <h3>Produto</h3>
                                        </div>
                                        <div class="col-4">
                                            <h3>Quantidade</h3>
                                        </div>
                                        <div class="col-2 pr-5">
                                            <h3>Valor</h3>
                                        </div>
                                        <div class="col-2 pr-5">
                                            <h3>Excluir</h3>
                                        </div>
                                    </div>
                                    <div class="div-carrinho">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center div-carrinho-total">
                                <div class="col-4 pr-5 div-valor-total">
                                    <h3>Total</h3>
                                </div>
                                <div class="col-4 div-valor-total">
                                    <h3 class="h3-valor-total"></h3>
                                </div>
                                <div class="col-4">
                                    <%if(!info.user){ %>
                                        <a href="/login"><button>Entrar para finalizar</button>
                                    <% } %>
                                    <%if(info.user){ %>
                                        <button  data-toggle="modal" data-target="#modal-info" class="btn-finalizar">Finalizar compra</button>
                                    <% } %>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="modal fade mt-5 pt-5" id="modal-confirm-carrinho">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-body">
                            <img class="img-cupcake-excluir" src="images/cupcake-branco.png">
                             <p class="mensagem-excluir text-dark">Tem certeza que deseja excluir esse cupcake?<span id="idItem"></span></p>
                         </div>
                         <div class="modal-footer">
                            <a href="/carrinho"><button type="button" class="button btn-Confirm">Confirmar</button></a>
                            <button type="button" class="modal-btn-close button text-right" data-dismiss="modal">Fechar</button>
                          </div>
                     </div>
                 </div>
             </div>
             <div class="modal fade mt-5 pt-5" id="modal-info">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-body">
                            <img class="img-cupcake-info" src="images/cupcake-branco.png">
                             <p class="mensagem text-dark">Compra finalizada com sucesso!</p>
                         </div>
                         <div class="modal-footer">
                            <button type="button" class="modal-btn-close button text-right" data-dismiss="modal">Fechar</button>
                          </div>
                     </div>
                 </div>
             </div>
        </main>
    </div>
</body>
</html>