<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Bem-vindo</h2>
                            <div class="div-separator"></div>
                            <p>Infelizmente não localizamos seu usuário e senha ou você pode ter digitado errado, verifique novamente!</p>
                            <a href="/login">Tente novamente!</a>
                            <p>Caso ainda não seja cadastrado, cadaste-se:</p>
                            <a href="/cadastro">Formulário de cadastro</a>
                        </section>
                        <section class="section-form text-left">
        </main>
    </div>
</body>
</html>