<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Bem-vindo</h2>
                            <div class="div-separator"></div>
                            <p>Entre com seu e-mail e senha cadastrados!</p>
                        </section>
                        <section class="section-form text-left">
                            <form id="formLogin" method="post" action="">
                                <!-- <div class="div-cupcake">
                                    <img class="img-cupcakes" src="../images/cupcake-login.png" alt="Imagem Cupcake">
                                </div> -->
                                <div class="form-group">
                                    <label for-id="email">E-mail:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="email" id="email" type="email"  placeholder="Ex.: maria@hotmail.com"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for-id="senha">Senha:<span style="color:red ;">*</span> <br></label>
                                    <input class="" name="senha" id="senha" type="password" placeholder="Ex.: jose@9"
                                        maxlength="6">
                                <div class="text-center link-cadastro">
                                    <a href="/cadastro">Ainda não tem conta cadastrada?</a>
                                </div>
                                <div class="text-center">
                                    <button class="btn-entrar">Entrar na conta</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>