<%- include("header.ejs")%>
                    <div class="div-apresentacao col-9 p-subtitulo">
                        <section>
                            <h2>Yuumy Cupcakes</h2>
                            <div class="div-separator"></div>
                            <p>Uma Doce História de Confiança e Sabor Magnífico!</p>
                        </section>
                        <section class="section-cupcakes">
                            <div>
                            <img src="images/varios-cupcakes.png" class="w-50">
                            </div>
                            <div class="div-texto-sobre">
                            <p>
                                Há muitos anos, em uma pequena confeitaria, nasceu a ideia de criar algo <strong>único e delicioso</strong>. Inspirados pelo amor pela confeitaria, decidimos transformar esse sonho em realidade, e assim nasceu a Yummy Cupcakes.<br><br>
                                Desde o início, comprometemo-nos a criar uma experiência que fosse mais do que apenas cupcakes; queríamos transmitir confiança, responsabilidade e, é claro, oferecer sabores magníficos que deixariam cada <strong>cliente com um sorriso no rosto</strong>.<br><br>
                                Junte-se a nós nesta doce jornada. Deixe-nos levar alegria aos seus momentos especiais e transformar cada celebração em uma experiência magnífica. Na nossa Cupcakeria, a doçura vai além dos cupcakes; é uma promessa de momentos deliciosamente memoráveis.
                            </p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="modal mt-5 pt-5" id="modal-info">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-body">
                            <img class="img-cupcake-info" src="images/cupcake-azul.png">
                             <p class="mensagem text-dark">Ebaa! Cupcake adicionado ao carrinho!</p>
                         </div>
                         <div class="modal-footer text-center">
                            <button type="button" class="modal-btn-close button" data-dismiss="modal">Fechar</button>
                          </div>
                     </div>
                 </div>
             </div>
        </main>
    </div>
</body>
</html>