button{
    margin: 1rem 0rem 2rem 0rem;
}
/* 
.img-cupcakes{
    width: 10rem;
    margin: -12rem 0rem 0rem 44rem;
} */

.link-cadastro{
    margin-top: 1rem;
}

form{
    padding-top: 4rem;
    max-width: 59rem;
    background-color: rgba(240, 240, 240, 0.744);
    background-image: url('../images/cupcake-cadastro.png');
    background-size: 60%; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: 40rem;
}
