.p-subtitulo {
    color: var(--green-dark);
}

.div-icons{
    z-index: 2;
    position: relative;
}

.div-icons:hover{
    filter: brightness(105%);
    top: -2px;
}

.div-icons img{
    margin-top: 90%;
    width: 9rem;
}

.img-cadastro{
    margin-top: 10%;
    width: 9rem;
    position: relative;
}


.img-cadastro:hover{
    top: -2px;
    filter: brightness(105%);
}

.img-entre{
    margin-top: 10%;
    max-width: 9rem;
    position: relative;
}

.img-entre:hover{
    filter: brightness(105%);
    top: -2px;
}

.div-menu{
    position: relative;
    margin-left:9.5%;
    height: 100vh;
    max-width: 14.4%;
}

.div-menu::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: white;
    opacity: 0.3;
  }

h2{
    padding-top: 3rem;
}

li{
    background: var(--background);
    border-radius: 4rem 4rem 4rem 4rem;
    margin: 0 auto;
    margin-top: 7rem;
    box-shadow: 5px 2px 8px var(--green-shadow);
}

li img{
    margin-top: -7rem;
    width: 80%;
}

li:hover{
    top: -4px;
    filter: brightness(105%);
}


.div-separator{
    background: var(--green-dark);
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1%;
    height: 1px;
}